<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into dish (name, category_id, price, image, description, status, create_time, update_time, create_user, update_user)
        VALUES
            (#{name},#{categoryId},#{price},#{image},#{description},#{status},#{createTime},#{updateTime},#{createUser},
             #{updateUser})
    </insert>
    <update id="update">
        update dish
            <set>
            <if test="name!=null and name !=''">dish.name = #{name},</if>
            <if test="categoryId!=null">dish.category_id = #{categoryId},</if>
            <if test="price!=null">dish.price = #{price},</if>
            <if test="image!=null">dish.image = #{image},</if>
            <if test="description!=null">dish.description = #{description},</if>
            <if test="status!=null">dish.status = #{status},</if>
            <if test="updateTime!=null">dish.update_time = #{updateTime},</if>
            <if test="updateUser!=null">dish.update_user = #{updateUser},</if>
    </set>
        where id = #{id}
    </update>
    <delete id="delete">
        delete from dish where id in
                         <foreach collection="ids" item="id" separator="," open="(" close=")">
                             #{id}
                         </foreach>
    </delete>
    <select id="page" resultType="com.sky.vo.DishVO">
        select  dish.*,category.name as category_name from dish left outer join category on dish.category_id = category.id
        <where>

            <if test="name!=null and name!= ''">and dish.name like concat('%',#{name},'%')  </if>
            <if test="categoryId!=null">and dish.category_id = #{categoryId} </if>
            <if test="status!=null"> and dish.status = #{status}</if>
        </where>
        order by create_time desc
    </select>
</mapper>
