<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealDishMapper">
    <insert id="insertBatch" parameterType="list">
        insert into setmeal_dish (setmeal_id, dish_id, name, price, copies)
        VALUES
            <foreach collection="setmealDishes" item="smd" separator=",">
                (#{smd.setmealId},#{smd.dishId},#{smd.name},#{smd.price},#{smd.copies})
            </foreach>
    </insert>
    <delete id="deleteBatch" parameterType="list">
        DELETE from setmeal_dish where setmeal_dish.setmeal_id in
                                     <foreach collection="setMealIds" separator="," item="smi" open="(" close=")">
                                         #{smi}
                                     </foreach>


    </delete>


    <select id="getSetmealIdsByDishIds" resultType="java.lang.Long">
        select setmeal_id from setmeal_dish where dish_id in

         <foreach collection="ids"  item="id" separator="," open="(" close=")">
             #{id}
         </foreach>
    </select>

</mapper>
